<div class="content-header">
  <center>
    <h1>{{strings.research}}</h1>
  </center>
</div>
<div class="content">
  <h2>{{strings.p_research}}</h2>
  <h4><a href="https://github.com/jdupl/rust-alsb">{{strings.alsb}}</a></h4>
  <p>
    {{strings.alsb_desc}}
  </p>
  <h4><a href="https://github.com/jdupl/lancoder">LANcoder</a></h4>
  <p>
    {{strings.lancoder_desc}}
  </p>
  <hr>
  <h2>{{strings.academic_r}}</h2>
  <h4><a href="https://github.com/fuhrmanator/course-activity-planner">Course Activity Planner</a></h4>
  <p>
    {{strings.cap_desc_1}}
  </p>
  <p>
    {{strings.cap_desc_2}}
  </p>
  <small>{{strings.funded_by}} <a href="https://www.etsmtl.ca/Recherche/Chercheurs/Financement/Type-financement/PSIRE">PSIRE</a> {{strings.and}} <a href="http://www.uquebec.ca/fodar/">FODAR</a></small>
  <br>
  <center><h4><a href="#/">{{strings.back}}</a></h4></center>
</div>
