<div class="content-header">
  <center>
    <h1>{{strings.my_servers}}</h1>
  </center>
</div>
<div class="content">
  <table style="margin:0px auto;">
    <tr>
      <td>
        <a href="assets/alcazar.jpg"><img height="240" src="assets/alcazar.jpg"></a>
        <p>{{strings.main_storage}}</p>
      </td>
      <td style="text-align: left;">
        <a href="assets/mining.jpg"><img height="240" src="assets/mining.jpg"></a>
        <p>{{strings.mining}}</p>
      </td>
    </tr>
    <tr>
      <td>
        <a href="assets/home.jpg"><img height="320px" src="assets/home.jpg"></a>
        <p>{{strings.main_lab}}</p>
      </td>
      <td>
        <a href="assets/mining-top.jpg"><img height="320px" src="assets/mining-top.jpg"></a>
        <p>{{strings.mining}}</p>
      </td>
    </tr>
  </table>
  <center><h4><a href="#/">{{strings.back}}</a></h4></center>
</div>
